.bar-header {
    background-color: rgb(48, 48, 48);
}

main {
    background-color: rgb(70, 70, 70)!important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    margin-top: 5px;
}