@media (min-width: 992px) {
}

@media (max-device-width: 991px) {
    .card-app {
        width: 100%;
    }
}

.card-img-app {
    --bs-gutter-x: 0!important;
    --bs-gutter-y: 0!important;
}

.w-95 {
    width: 95%;
}