@media (min-width: 992px) {
    .card-app {
        width: 33%;
    }
}

@media (max-device-width: 991px) {
    .card-app {
        width: 100%;
    }
}

.card-img-app {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}